body {
    max-width: 1200px;
    font-size: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
}

.header {
    background-color: #9f2063;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.main {
    background-color: #2ab77f;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    border-radius: 10px;
}

.article {
    background-color: #e4195b;
    margin: 1rem;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
}

.aside {
    background-color: #0e6394;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.footer{
    background-color: #e06b26;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

@media (width > 800px) {
    .flex-container {
        flex-direction: row-reverse;
    }

    .aside {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
    }

    .main {
        width: 70%;
    }
}